
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*=======================================
    GENERAL STYLES
==================================================*/

body {
          font-family:'Open Sans', sans-serif;
    font-size:14px;
   
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}


.text-center {
    text-align:center;
}

h2 {
    line-height:50px;
    color:#E91C1C;
}
h3 {
    line-height:30px;
    padding-bottom:20px;
}
h4 {
   padding-top: 25px;
line-height: 40px;
padding-bottom: 0px;
font-size: 22px;
font-weight: 900;

}

p {
    font-weight:300;
    line-height:30px;
    padding-bottom:15px;
}

.space-free {
    height:100px;
}

section {
    padding-top:50px;
    margin-top:50px;
}
.g-pad-bottom {
    padding-bottom:30px;
}

.form-control {
        background-color: rgba(255, 255, 255, 0);
}

.label-danger {
font-size: 18px;
}
/*=======================================
    HOME SECTION STYLES
==================================================*/

.go-marg {
    margin-top:40px;
}

#home-sec { 
  
    
background: url(../img/batuangkruk.dieng-20221004-0001.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
 padding-top:190px;
   min-height:650px;
    color:#fff;
}

.head-main {
    font-size:50px ;
    font-weight:900;
    border:5px outset  rgb(245, 220, 0);
    padding:15px;
    text-transform:uppercase;
    
}

.head-last {
     margin-top:70px;
    font-size:18px ;
    font-weight:900;
    padding:5px 20px 20px 20px;
    border:1px dotted #fff;
    padding:5px;
}


/* ===========================================================
   NAVBAR CHANGES   
   ============================================================*/
.navbar {
	font-size: 18px;
}

.navbar-inverse {
background-color: #85144b;
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
min-height: 60px;
padding-top: 5px;

}

.navbar-inverse .navbar-nav > .active > a {
	background: #ffffff;
}

.navbar-inverse .navbar-brand {
	color: #000;
	font-weight: bolder;
	font-size: 25px;
    font-weight:900;
	letter-spacing: 2px;
}
.navbar-inverse :hover .navbar-brand:hover {
	color: #000;	
}
.navbar-inverse .navbar-nav > li > a {
color: #000;
}
.navbar-inverse {
border-color: rgba(12, 130, 166, 0.9);;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: #000;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #000;
}
.navbar-toggle {
    background-color: black;
}
/*==========================================
    PORTFOLIO STYLES
    =====================================================*/


.portfolio-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-items {
  margin-right: -20px;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  margin: 0;
}

.portfolio-items.col-3 > li {
  width: 33%;
}

.portfolio-item .item-main {
  margin: 0 10px 10px 0;
  text-align: center;
  background: rgba(12, 130, 166, 0.9);;
  padding: 10px;
  border:1px solid rgba(12, 130, 166, 0.9);;
  
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .portfolio-image {
  position: relative;
}
.portfolio-item h5 {
  margin: 0;
  padding: 10px 0 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #E91C1C;
color: #fff;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(12, 130, 166, 0.9);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}

/*=======================================
    Contact STYLES
==================================================*/

.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #09a0b4;
}
/*=======================================
    FOOTER STYLES
==================================================*/


#footer {
background-color: #85144b;
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
color: #000;
padding: 20px 50px 20px 50px;
text-align: right;
border-top: 1px solid #d6d6d6;
}


/*=======================================
    MEDIA QUERIES
    
    ==================================================*/

@media all and (max-width:640px) and (min-width:381px) {
    .head-main { 
        font-size:28px ;
    }
}
@media all and (max-width:381px) and (min-width:200px) {
    .head-main { 
        font-size:24px ;
    }
}


/*coming soon*/
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bgimg {
    background-image: url('/w3images/forestbridge.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }

  /*end coming soon*/
  .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

/*share*/
.container{
  margin: auto;
}
.facebook,.whatsapp,.google-plus{
  display: inline-block;
  margin-right: 5px;
}
.facebook{
  width: 40px;
  height: 40px;
  background-color: #2a4299;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}
.whatsapp{
  width: 40px;
  height: 40px;
  background-color: #00f208;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}
.google-plus{
  width: 40px;
  height: 40px;
  background-color: #fb2929;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}








